.tablecol {

}

@media screen and (max-width: 900px) {
    .tablecol {
       width: 50%;
       height: 50%;
    }
 }
 @media screen and (max-width: 600px) {
    .tablecol {
       width: 100%;
    }
 }